.popup {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #fffefe;
    border: 1px solid #383636;
    box-shadow: 5px;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
}
.popup-content {
    text-align: center;
    font-weight: bold;
}
.popup input {
    width: 90%;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.popup button {
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 5px;

 
}
 
h3{
    color:#7A9BF5;
    font-size: 30px;
}
 
.salvar{
    background-color: #3ee82c
}
 
.fechar{
    background-color: #F10000;
}
 
 
.salvar:hover{
transform: scale(1.1);
background-color:  #2cac1e;
 
}
 
.fechar:hover{
    transform: scale(1.1);
    background-color: #d00000;  
}

#abrirLixeira{
    background-color: none;
    text-decoration: underline;
    border-radius: 2px;
   display: flex;
    border: none;
    text-align: center;
    cursor: pointer;
}
input{
    width: 200px;
 
}